.story-h {
    display: flex;
    width: 100%;
    justify-content: space-between;
    & h2 {
        font-weight: bold;
        margin: 0px;
    }
}

.story {
    margin-bottom: 40px;
}

.mat-mdc-outlined-button {
    border-radius: 100px;
    height: 40px;
}

@media screen and (max-width: 700px) { 
    .story-h {
        & h2 {
            max-width: 240px;
        }
    }
  }