<div *ngIf="story==1" class="story">
    <div class="story-h">
        <h2>Neighbors</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You have lived in the building's top floor for five years. Apart from the neighbor who lives opposite your apartment, 
        your relationship with the rest of your neighbors is great. You struggle to understand why you can't get along with the opposite neighbor.</p>
    <p>In last month's building meeting, the opposite neighbor expressed his desire to build a room on the building rooftop for his newborn baby. 
        This isn't the first time the opposite neighbor wants to use the common area on the rooftop for his personal needs. 
        Last year the opposite neighbor used the rooftop as a temporary guesthouse without the consent of the other tenants. 
        You voted against the neighbor's plan, claiming the rooftop should remain the common area. 
        The neighbor quickly replied, “you will regret this”. The next morning the opposite neighbour sent a message to the building's WhatsApp group saying, 
        “they don't care about the welfare of babies; they only care about themselves”. 
        You were hurt by this message since you have nothing against babies and are happy to get along with the other tenants. 
        You tried to explain to the opposite neighbour that it has nothing to do with the baby; it's just the fact you believe the common area should stay common. 
        The neighbour ignored your calls and hung up a poster regarding your vote in the building's lobby, damaging your good name. 
        You tried to ask the neighbour to stop spreading false lies about you, but he denied your request.</p>
    <p>You want to maintain a good relationship with the other tenants. 
        You struggle to understand why the opposite neighbor won't cooperate, and you would like a civilized relationship between you. 
        You would like the neighbor to stop spreading lies and apologize for the posters and false messages he wrote.</p>
</div>

<div *ngIf="story==2" class="story">
    <div class="story-h">
        <h2>Insurance without coverage</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You took out a loan from the bank with your spouse, and to ensure its repayment, you registered a mortgage on the residential apartment you own. 
        At the same time, you purchased an insurance policy from an insurance company designed to ensure repayment of the loan by you in case of a material change in your life. 
        Over the years, you have fallen behind on several payments, so you contacted the bank and changed the loan terms. After a while, your spouse died unexpectedly in a car accident. 
        Beyond your difficult mental state in light of their passing, the insurance company paid you only part of the loan amount. 
        The amount was calculated according to the original loan and not the amount after the change. 
        The insurance company claims that you were only insured for the lower amount according to the original loan.</p>
    <p>According to you, the insurance company is obliged to pay the entire amount. Also, the bank's duty was to inform you if it was necessary to update the insurance policy. 
        You couldn't know about it yourself. According to the bank, the insurance policy states that the insurance coverage will be in the amount and conditions specified in the bank's records, 
        so in their opinion, there was no need for further updating by the insurance company.</p>
    <p>You're disappointed with the bank for not telling you that the insurance policy needs to be updated when the loan terms are changed, 
        and you're disappointed with the insurance company and its insensitive answers. Your mental state is precarious in light of your spouse's death. 
        In addition, you feel that the bank and the insurance company are shifting the responsibility from one to the other, leaving you alone in the battle.</p>
</div>

<div *ngIf="story==3" class="story">
    <div class="story-h">
        <h2>The missing deposit</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You are engaged in financial activities.</p>
    <p>Over 10 years ago, you decided to deposit 31,000 USD in cash into a foreign currency account at the bank, which you opened the same day. 
        In the confirmation of opening the account, it explicitly stated that it is impossible to withdraw the deposit before three months have passed,
         not even to transfer money abroad.</p>
    <p>You recently went to withdraw the funds; you were told there was no deposit in your name because the account was reset and converted. 
        It turned out that less than two months after the deposit, $30,563 was converted from the account, followed by another 437 USD. 
        Although these conversions were carried out before the end of the three months, the bank did not charge any fees or penalties.</p>
    <p>You were shocked and claimed that you were abroad at the time of the transactions made from the account and did not confirm the transactions.</p>
    <p>The bank, on its behalf, 
        confirms that it does not have the other documents pertaining to the account history and where your money was converted since it has been a long time since the deposit.</p>
    <p>You want to finish the procedure quickly since you are not staying in the country for a long period of time and will not be able to conduct many procedures remotely. 
        You are a wealthy person, and it is especially important to you that the bank cares for you and its other customers.</p>
</div>

<div *ngIf="story==4" class="story">
    <div class="story-h">
        <h2>The cancelled wedding</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>Due to covid-19 restrictions, you have been forced to cancel your wedding. The event hall where the wedding was supposed to take place requires an agreed-upon compensation of 50%
        of the wedding cost which is a sum of tens of thousands of dollars. In your opinion, this amount is not justified. 
        Also, after inquiring, you discovered that the hall is not licensed to hold events. Therefore, in your opinion, the hall's owner will be interested in compromising. 
        You feel financial anxiety and emotional distress due to the demand of the hall owner.</p>
    <p>You feel the compensation amount is too high and that you ought to receive recognition and an apology from the hall's owner for the mental anguish caused to you by his demands.</p>
</div>

<div *ngIf="story==5" class="story">
    <div class="story-h">
        <h2>A dog story</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>For nearly three decades, you have lived close to John Doe. Over the years, you developed a friendship and closeness that was characterized by the fact that you are both part of the same circle of friends. 
        You used to spend time together and go on joint trips with your families.</p> 
    <p>A few months ago, your son went for a walk with your three dogs, the dogs tied on a leash that allows a relative freedom of movement.
        When your son passed by John Doe's house, one of the dogs walked towards the gate and began to sniff in the area. When the dog was close to the gate, 
        John Doe's dog (a large hunting dog) suddenly jumped towards the gate and from between the bars, grabbed your dog and bit him hard in the face.
        At that moment, your son ran to free the dog from the animal's teeth, and when he released him from her grip, he saw that the dog's face was bleeding badly. 
        You immediately went to the veterinary hospital to treat the injured dog.</p>    
    <p>After several hours of treatments and emergency surgery on the dog, they managed to save his life, but the dog lost one of his eyes and a scar remained on his face.</p> 
    <p>When you returned from the veterinary hospital with the dog, you decided to call John Doe. 
        He answered the phone but, apperantly was afraid that you might record the conversation and use it against him if the case reached the court. 
        In addition, he claimed that he did not think he was to blame for the incident because his dog was in his private garden with the gate was locked. </p>
    <p>John's response offends you since you just wanted to hear his side of the story and possibly get an apology.</p>
</div>

<div *ngIf="story==6" class="story">
    <div class="story-h">
        <h2>A lost bid</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You own a lighting company that you founded several years ago.</p>
    <p>Your company asked to participate in a public tender (Invitation to Bid) published by the local authority for maintenance work in the city. 
        You submitted your bid for the tender according to the threshold conditions. For the tender, a bank guarantee deposit was required; 
        therefore, you contacted your bank and asked for the issuance of a guarantee.</p>
    <p>The validity of the guarantee following the tender terms was supposed to start from the date of its issuance. 
        The bank issued the requested guarantee and submitted it to a representative from your company.</p>
    <p>To your astonishment, the bank made a mistake, and the date registered on the guarantee was a month later than the date you needed to participate in the tender. 
        Therefore, your bid in the tender was rejected.</p>
    <p>According to the bank, this was human error. In addition, the guarantee was handed to the company, and it was the company's responsibility to check the document before submitting it.</p>
    <p>You feel that you ought to receive a compensation for the expenses lost due to the rejected bid. 
        You also believe the bank should admit its mistake so that your professionalism will not be questioned in future engagements.</p>
</div>

<div *ngIf="story==7" class="story">
    <div class="story-h">
        <h2>The elevator</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You've worked as a housekeeper at a nursing home for years. You enjoy your work, and you get along with all the tenants.</p>  
    <p>One day at work, you called the elevator, and as soon as you walked in, you slipped and hurt your shoulder. 
        In retrospect, you found out the elevator floor was 30cm lower than it should have been, which caused you to fall. </p>
    <p>The fall caused excruciating pain. You broke your right shoulder and were hospitalized for two days. 
        Due to this injury, you couldn't return to work for 24 days and had to undergo physiotherapy to try and restore your hand movement (to this day, your right arm's movement is limited).</p> 
    <p>Once returning to work, you spoke to your manager regarding the fall, and he replied that the elevator issue will be dealt with. 
        You were informed that warning signs were put near the elevator, and the technicians would be called in. 
        The manager told you that you should have noticed the height difference, which hurt your feelings, considering that you've been working for him for years and never even received an apology.</p>
    <p>This baffled you, especially since you were told that several colleagues also stumbled while entering the same elevator.</p>
</div>

<div *ngIf="story==8" class="story">
    <div class="story-h">
        <h2>The nursery</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>Your first daughter was born a year ago. Since you and your spouse are both working parents, you've decided to send your daughter to the local nursery school. 
        You were a bit hesitant since there's only one kindergarten teacher who oversees over ten toddlers, but the fact that they had additional assistants to support the teacher eased your concern. 
        The teacher assuaged your concerns when she said: "you have nothing to worry about. Every toddler gets special attention at our nursery school".</p>
    <p>One day, you met one of the teacher's assistants at the local grocery store. 
        The assistant claimed the teacher doesn't look after the children properly since she yells at the toddlers and doesn't change their diapers when needed.
        You felt hurt by the news since the teacher promised to pay special attention to every toddler at her nursery school, and your daughter's health and safety are at stake.</p>
    <p>Consequently, you quickly assembled a parent's meeting and told the rest of the parents about your conversation with the assistant. 
        One of the parents remarked that you must consider that the teacher and the assistant were never on good terms, and therefore we must think carefully about whether to believe the assistant. 
        Several parents expressed their concern about this occurrence and said they were not satisfied with the teacher's conduct.</p>
    <p>Considering the many problems raised, you've decided to withdraw your daughter from the nursery school to ensure her health and safety. 
        You have also demanded the teacher refund the full tuition costs. The teacher denied all the claims above and held that no payment should be made to parents withdrawing their kids from the nursery school.</p>
    <p>You believe that you ought to get back the money paid in advance for your daughter's tuition since she is not attending the nursery school anymore. 
        In addition to an acknowledgment of your concern, worry, anger, and breach of trust following the ordeal.</p>
</div>

<div *ngIf="story==9" class="story">
    <div class="story-h">
        <h2>Broken chargers</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>For the past five years, your company has been doing business with an electronics firm. As part of the business relationship between the two companies, 
        30,000 cell phone chargers were purchased from your company. The order was divided into three shipments, 10,000 chargers per shipment. 
        The purchasing firm arranged the first two shipments but did not pay for the third shipment as promised nor did it pay for the last shipment of 10,000 chargers.</p>
    <p>According to the owners of the purchasing firm, the reason for this is that the chargers in the third shipment were broken. 
        According to you, the company's owners are lying and trying to evade payment and should have paid for the third shipment as required. </p>
    <p>Considering the business relationship, you have had for five years, you feel frustration, anger, and disappointment with how the company operates.</p>
</div>

<div *ngIf="story==10" class="story">
    <div class="story-h">
        <h2>Airport security</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>Recently, you had to fly for an important conference. When you arrived at the airport, security personnel detained you at the airport's entrance, apparently after identifying you as belonging to a minority group.
     They took your cell phone and rummaged through your personal belongings. They tried to put your laptop in a security machine, and when you asked if the machine might cause harm to it, they responded rudely. 
     After 40 minutes of security checks, they allow you to continue. </p> 
    <p>When you entered the terminal, security personnel approached you once again. 
     They passed your belongings through the x-ray machine and begin emptying everything out of your bag (including underwear, documents, and study materials). 
     When you asked them to do so orderly, they responded rudely, mocked your native language in which some of the documents were written, asked private and offensive questions, 
     treated your family photos disrespectfully, and even mocked the color of your skin. They took your laptop for further examination, and when they returned, they said you couldn't take it with you on the flight.</p>
    <p>Their attitude was dismissive and humiliating. You asked to speak to their supervisor and tried to explain the necessity of the laptop for your work and meetings but were told that he wasn't available for you.</p>
    <p>During this time, you were without your cell phone, and you couldn't contact anyone for assistance. After three difficult hours, you decided that after such an experience and without the essential laptop, 
     you could not take part in the conference. You shared the ordeal with your acquaintances, and they turned to the authorities for explanations. 
     Many weeks later, a reply came from the authorities' attorney general office, claiming they had behaved professionally and respectfully and refused to acknowledge any flaws.</p>
    <p>This added to the feeling of contempt and humiliation you experienced. You were harmed by not being able to attend the conference, 
     but mainly because of the difficult experience you feel was forced upon you solely because you belong to a minority.</p>
</div>

<div *ngIf="story==11" class="story">
    <div class="story-h">
        <h2>Whose check is this?</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You own a small construction company.</p> 
    <p>During the company's business, you paid one of your suppliers by check drawn from your bank account. The check was for 4,700 USD and bore your signature, with all the check details filled in. 
        According to you, the original check was returned to you by the supplier on the 31st of January 2019 and was replaced by two other checks that, when summed, equaled the original amount.</p>
    <p>Although the original check was returned to you, a check mocking the initial check was physically presented for repayment at the bank on the 4th of March 2019, 
        with the beneficiary of the check being another person whose account is also managed at the bank. The bank accepted the additional check. 
        According to the bank, this was done after inspecting the signature and matching it with your signature held by the bank.</p>
    <p>According to you, since there are multiple transactions in your bank account, you overlooked the payment of the mock check until about three weeks after when you were doing a routine inspection of your expenses and income. 
        You asked the bank to cancel the additional check. After several inquiries to the bank, it announced that it would not cancel the charge for the additional check.</p>
    <p>You want your money back, and you feel that it was taken wrongly; moreover, you feel that the bank, who you trust with your money, is turning its back on you. On the other hand, 
        you have worked with this bank for many years and are satisfied with your overall experience.</p>
</div>

<div *ngIf="story==12" class="story">
    <div class="story-h">
        <h2>Guarantee or Sting</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>Recently, your son got married. Now, your son and his wife are interested in purchasing a residential apartment, so they required a bank loan. 
        To approve the loan, your son must have a signed letter of guarantee from a guarantor. 
        You granted his request and signed a two-year bond. After two years, your son was fired, so he and his wife could not repay the loan. 
        After various bridge loan attempts failed, the bank concentrated their debts into one agreed settlement loan.</p>
    <p>Your son and his wife did not meet the settlement loan, and after two and a half years, the bank demanded the full payment of the letter of guarantee. 
        According to you, in addition to the fact that the guarantee expired, the bank did not inform you at all about the late loans.</p>
    <p>The bank claims that your guarantee was given to secure any credit or obligation of the account owners and that it had no obligation to inform you of additional loans or an increase in a late line of credit to the letter of guarantee.</p>
    <p>According to you, the bank's substantial increase in the credit limit for your son and the granting of additional large loans without any updates from you as guarantor were done fraudulently. 
        You feel that the bank is trying to take advantage of you as the parent of the account holder even though your guarantee is invalid. You do not have the necessary amount to pay, and you feel that the bank has cheated you.</p>
</div>


<div *ngIf="story==13" class="story">
    <div class="story-h">
        <h2>Premature foreclosure</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>While shopping at the neighborhood grocery store, you encountered a credit refusal. When you called the bank to inquire, 
        you were surprised to find that your account had been foreclosed and that the bank had placed the entire balance of loans and credit in your account for immediate repayment without any prior notice from the bank. 
        However, you could not meet the loan repayment deadlines due to your spouse's unexpected firing. 
        The foreclosure is unexpected because you are in the midst of negotiations to formulate a settlement loan with representatives of the bank and the branch manager. You managed to sign the loan document, 
        and your spouse was also supposed to sign too. You have also transferred 20,000 USD as required in negotiations with the bank to settle your affairs.</p>
    <p>According to the bank, your account was declared restricted due to your worsening financial situation and significant deviations in the current account framework. 
        In addition, the bank claims to have discovered that the assets you presented during negotiations were mortgaged and therefore ordered the immediate foreclosure of the account.</p>
    <p>You feel that the bank has turned its back on you. You were deeply hurt by the conduct of the bank manager who renounced the promises he made to you during your meeting.</p>
    <p>You were severely hurt by the bank that acted on its own contrary to the meeting between you, and you feel that you have been misled. Moreover, you fear for your financial security as you have not even been able to purchase groceries in the supermarket.</p>
</div>


<div *ngIf="story==14" class="story">
    <div class="story-h">
        <h2>Timing is everything</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You have been buying and selling shares in the capital market through your bank for years. 
        Your relationship with the bank representative is excellent, and there has never been a problem regarding your instructions concerning the sale and purchase of shares.</p>
    <p>You have recently been interested in a particular stock that you own. You have spent many hours analyzing the stock's fluctuations. 
        After much research and thought, you have concluded that the stock should be sold immediately since the share's value will fall drastically at any moment. 
        You called the bank representative and explained to him your desire to sell all the shares of this type immediately. 
        A bank representative replied, "No problem, I'll sell them immediately." In practice, you discovered that the bank representative only sold your shares the next day, causing you to lose a lot of money.</p>
    <p>You tried to contact the bank to reach some settlement concerning the serious malfunction that you believed occurred. 
        Still, the bank representative denied the fact that you asked him to sell immediately and did not agree to pay compensation for the significant loss caused. 
        You have been greatly offended by the action and attitude of the representative, as you have had a great relationship over the years. You are shocked by his denial of your explicit request. 
        It is also worth mentioning that replacing bank investments involves investing tremendous amounts of time and resources.</p>
</div>


<div *ngIf="story==15" class="story">
    <div class="story-h">
        <h2>I didn't close my eyes all night.</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>Throughout your studies, you used your bank to obtain student loans. Over the years, you have received good treatment and professional service from the bank and branch clerks. 
        You felt that you were managing your money in a responsible and professional place.</p>
    <p>One night you received a surprising message stating that 8,000 USD had been withdrawn from your account. You did not order the said charge. 
        You got very nervous and were in a storm of emotions. You tried to contact the bank immediately via phone and app, but to no avail. 
        You realized there would be no choice but to wait for their service in the morning. You didn't sleep the whole night and waited, worried that more money might be withdrawn from your account.</p>
    <p>The following morning you managed to speak with the bank's representative, who claimed the transaction was infact an error, the representative didn't offer any apology nor sympathy for your anxiety the night before.</p>
    <p>You were hurt by the bank's lack of caring and indifferent response to the anxiety and fears that overwhelmed you. 
        You are very concerned about the bank's conduct in urgent emergencies, as opposed to its good conduct in normal times.</p>
</div>


<div *ngIf="story==16" class="story">
    <div class="story-h">
        <h2>Conflict of interest of the bank</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You are young, and you and your spouse have a full-time job. After a long time in which you and your spouse saved money for a mortgage to purchase an apartment, you turned to the bank and got a loan at a reasonable interest rate. 
        You were very happy because you waited and put a lot of time into it. Eventually, after much search effort, you found a construction company selling apartments in the city you wanted. 
        After a while, it turned out that the construction company went bankrupt, and you don't know where you stand and what will happen to its construction obligations to you.</p>
    <p>The story was exposed to the media, and you have discovered that the construction company is also a customer of the same bank through which you took the mortgage,
         and that the bank knew that the company was in financial difficulties and did not bother to tell you anything when you consulted with it. 
         The bank deeply hurt you, as you met with them many times and consulted about the purchase of the apartment and possible construction companies, 
         and in none of the meetings did the bank bother to mention that the construction company is its customer. The bank didn't even recommend consulting other parties before purchasing the apartment. 
         You feel that the bank has not treated you fairly. You've worked hard for the savings, and you feel cheated.</p>
</div>


<div *ngIf="story==17" class="story">
    <div class="story-h">
        <h2>A Double Charge</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You are the main source of income for your family. You recently took out a mortgage with your spouse from the bank to buy an apartment. 
        According to the agreement with the bank and the contractor of the apartment, you must pay the contractor the agreed amount once a month by bank checks. 
        Every month, you contact the bank, apply for a check, the bank approves and contacts the contractor, and the latter collects the check from the bank and puts it in his account.</p> 
    <p>In the previous month, your check request was approved and forwarded to the contractor by the bank clerk as usual. After a short time, the clerk who handled this check resigned, and a new clerk took office. 
        The new clerk saw your request for a check the previous month, thought that the request had not been processed, and approved another check without contacting you or clarifying the request's status.</p>
    <p>The clerk contacted the contractor, and the latter collected and cashed the additional check. Due to the clerk's mistake at the bank, you were charged twice that month. 
        You contacted the bank about the double charge that was made in error, and he replied that the matter was under investigation and in the meantime, you should contact the contractor.</p>
    <p>Several months have passed, and the bank has not yet dealt with the problem and keeps replying that it will investigate the matter. The bank is not taking responsibility.</p>
</div>


<div *ngIf="story==18" class="story">
    <div class="story-h">
        <h2>Bad Name from the Bank</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You are married and are a small business owner. One day you receive a letter from the bank stating that you have a debt in your current account and that if you do not settle the debt within 60 days, 
        the bank will have to pass your name on to the entities prescribed by law (credit card companies, etc.).</p>
    <p>Following this letter, you have paid the debt within the 60 days given to you. To your surprise, the bank nevertheless forwarded your name to the authorities written in the law, 
        claiming that the letter sent to you was a second notice as stated in its title.</p>
    <p>According to the bank, far more than 60 days have passed since the date of the first notice letter, therefore, in its opinion, thew bank acted lawfully.</p>
    <p>As a result, you have suffered a lot of damage. e.g., you had to withdraw a letter of intent for the sale of your apartment because your application for a mortgage from the bank was denied due to the publication of your name in their databases. 
        In addition, your personal business has suffered severe reputation blow, you believe that many transactions have been canceled by your clients as a result.</p>
    <p>You want to complete the process quickly to get your name out of the database so that you can sell your apartment and make transactions in your existing business.</p>
</div>


<div *ngIf="story==19" class="story">
    <div class="story-h">
        <h2>Right to Privacy and Duty of Confidentiality</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You are in the midst of a divorce dispute, during which your ex-spouse has initiated execution proceedings against you.</p>
    <p>As part of this proceeding, and upon the court's request, your personal bank account was foreclosed. 
        Later, you discovered that the execution proceedings also led to a foreclosure of your parents' joint account, in which you are a partner</p>
    <p>You were taken aback by the unforeseen foreclosure because, aside from your parents and the bank, no one knew you were a partner in that account. Upon investigation, 
        you found out that the bank had disclosed this information to your ex-spouse without your consent, 
        which deeply disappointed you, as it eroded your trust in the bank by revealing personal details about the joint account.</p>
    <p>You believe that the bank has breached your trust and violated your privacy, in contravention of the expected banking confidentiality obligations in this case. 
        This behavior is particularly perplexing given your long-standing customer relationship with the bank.</p>
</div>


<div *ngIf="story==20" class="story">
    <div class="story-h">
        <h2>Checks without coverage</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You are a shop owner who, a few years ago, received checks as payment from a customer and subsequently used these checks to pay your suppliers for merchandise. 
        After three years, your suppliers informed you that the checks were invalid, leaving you with a debt of 5,100 USD. 
        This unfortunate situation has not only caused financial strain but also damaged your reputation and good name. 
        Your long-standing business relationships with your suppliers have soured, and they are now inclined to work with other store owners. 
        Initially, you attempted to resolve the issue by asking the customer to replace the old checks with new ones, but the customer has been unwilling to meet with you.</p> 
</div>