<div *ngIf="story==1" class="story">
    <div class="story-h">
        <h2>Neighbors</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You have lived in the building's top floor for five years. Apart from the neighbor who lives opposite your apartment, 
        your relationship with the rest of your neighbors is great. You struggle to understand why you can't get along with the opposite neighbor.</p>
    <p>In last month's building meeting, the opposite neighbor expressed his desire to build a room on the building rooftop for his newborn baby. 
        This isn't the first time the opposite neighbor wants to use the common area on the rooftop for his personal needs. 
        Last year the opposite neighbor used the rooftop as a temporary guesthouse without the consent of the other tenants. 
        You voted against the neighbor's plan, claiming the rooftop should remain the common area. 
        The neighbor quickly replied, “you will regret this”. The next morning the opposite neighbour sent a message to the building's WhatsApp group saying, 
        “they don't care about the welfare of babies; they only care about themselves”. 
        You were hurt by this message since you have nothing against babies and are happy to get along with the other tenants. 
        You tried to explain to the opposite neighbour that it has nothing to do with the baby; it's just the fact you believe the common area should stay common. 
        The neighbour ignored your calls and hung up a poster regarding your vote in the building's lobby, damaging your good name. 
        You tried to ask the neighbour to stop spreading false lies about you, but he denied your request.</p>
    <p>You want to maintain a good relationship with the other tenants. 
        You struggle to understand why the opposite neighbor won't cooperate, and you would like a civilized relationship between you. 
        You would like the neighbor to stop spreading lies and apologize for the posters and false messages he wrote.</p>
</div>

<div *ngIf="story==2" class="story">
    <div class="story-h">
        <h2>Insurance without coverage</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You took out a loan from the bank with your spouse, and to ensure its repayment, you registered a mortgage on the residential apartment you own. 
        At the same time, you purchased an insurance policy from an insurance company designed to ensure repayment of the loan by you in case of a material change in your life. 
        Over the years, you have fallen behind on several payments, so you contacted the bank and changed the loan terms. After a while, your spouse died unexpectedly in a car accident. 
        Beyond your difficult mental state in light of their passing, the insurance company paid you only part of the loan amount. 
        The amount was calculated according to the original loan and not the amount after the change. 
        The insurance company claims that you were only insured for the lower amount according to the original loan.</p>
    <p>According to you, the insurance company is obliged to pay the entire amount. Also, the bank's duty was to inform you if it was necessary to update the insurance policy. 
        You couldn't know about it yourself. According to the bank, the insurance policy states that the insurance coverage will be in the amount and conditions specified in the bank's records, 
        so in their opinion, there was no need for further updating by the insurance company.</p>
    <p>You're disappointed with the bank for not telling you that the insurance policy needs to be updated when the loan terms are changed, 
        and you're disappointed with the insurance company and its insensitive answers. Your mental state is precarious in light of your spouse's death. 
        In addition, you feel that the bank and the insurance company are shifting the responsibility from one to the other, leaving you alone in the battle.</p>
</div>

<div *ngIf="story==3" class="story">
    <div class="story-h">
        <h2>The missing deposit</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You are engaged in financial activities.</p>
    <p>Over 10 years ago, you decided to deposit $31,000 in cash into a foreign currency account at the bank, which you opened the same day. 
        In the confirmation of opening the account, it explicitly stated that it is impossible to withdraw the deposit before three months have passed,
         not even to transfer money abroad.</p>
    <p>You recently went to withdraw the funds; you were told there was no deposit in your name because the account was reset and converted. 
        It turned out that less than two months after the deposit, $30,563 was converted from the account, followed by another $437. 
        Although these conversions were carried out before the end of the three months, the bank did not charge any fees or penalties.</p>
    <p>You were shocked and claimed that you were abroad at the time of the transactions made from the account and did not confirm the transactions.</p>
    <p>The bank, on its behalf, 
        confirms that it does not have the other documents pertaining to the account history and where your money was converted since it has been a long time since the deposit.</p>
    <p>You want to finish the procedure quickly since you are not staying in the country for a long period of time and will not be able to conduct many procedures remotely. 
        You are a wealthy person, and it is especially important to you that the bank cares for you and its other customers.</p>
</div>

<div *ngIf="story==4" class="story">
    <div class="story-h">
        <h2>The cancelled wedding</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>Due to covid-19 restrictions, you have been forced to cancel your wedding. The event hall where the wedding was supposed to take place requires an agreed-upon compensation of 50%
        of the wedding cost which is a sum of tens of thousands of dollars. In your opinion, this amount is not justified. 
        Also, after inquiring, you discovered that the hall is not licensed to hold events. Therefore, in your opinion, the hall's owner will be interested in compromising. 
        You feel financial anxiety and emotional distress due to the demand of the hall owner.</p>
    <p>You feel the compensation amount is too high and that you ought to receive recognition and an apology from the hall's owner for the mental anguish caused to you by his demands.</p>
</div>

<div *ngIf="story==5" class="story">
    <div class="story-h">
        <h2>A dog story</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>For nearly three decades, you have lived close to John Doe. Over the years, you developed a friendship and closeness that was characterized by the fact that you are both part of the same circle of friends. 
        You used to spend time together and go on joint trips with your families.</p> 
    <p>A few months ago, your son went for a walk with your three dogs, the dogs tied on a leash that allows a relative freedom of movement.
        When your son passed by John Doe's house, one of the dogs walked towards the gate and began to sniff in the area. When the dog was close to the gate, 
        John Doe's dog (a large hunting dog) suddenly jumped towards the gate and from between the bars, grabbed your dog and bit him hard in the face.
        At that moment, your son ran to free the dog from the animal's teeth, and when he released him from her grip, he saw that the dog's face was bleeding badly. 
        You immediately went to the veterinary hospital to treat the injured dog.</p>    
    <p>After several hours of treatments and emergency surgery on the dog, they managed to save his life, but the dog lost one of his eyes and a scar remained on his face.</p> 
    <p>When you returned from the veterinary hospital with the dog, you decided to call John Doe. 
        He answered the phone but, apperantly was afraid that you might record the conversation and use it against him if the case reached the court. 
        In addition, he claimed that he did not think he was to blame for the incident because his dog was in his private garden with the gate was locked. </p>
    <p>John's response offends you since you just wanted to hear his side of the story and possibly get an apology.</p>
</div>

<div *ngIf="story==6" class="story">
    <div class="story-h">
        <h2>A lost bid</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You own a lighting company that you founded several years ago.</p>
    <p>Your company asked to participate in a public tender (Invitation to Bid) published by the local authority for maintenance work in the city. 
        You submitted your bid for the tender according to the threshold conditions. For the tender, a bank guarantee deposit was required; 
        therefore, you contacted your bank and asked for the issuance of a guarantee.</p>
    <p>The validity of the guarantee following the tender terms was supposed to start from the date of its issuance. 
        The bank issued the requested guarantee and submitted it to a representative from your company.</p>
    <p>To your astonishment, the bank made a mistake, and the date registered on the guarantee was a month later than the date you needed to participate in the tender. 
        Therefore, your bid in the tender was rejected.</p>
    <p>According to the bank, this was human error. In addition, the guarantee was handed to the company, and it was the company's responsibility to check the document before submitting it.</p>
    <p>You feel that you ought to receive a compensation for the expenses lost due to the rejected bid. 
        You also believe the bank should admit its mistake so that your professionalism will not be questioned in future engagements.</p>
</div>

<div *ngIf="story==7" class="story">
    <div class="story-h">
        <h2>The elevator</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>You've worked as a housekeeper at a nursing home for years. You enjoy your work, and you get along with all the tenants.</p>  
    <p>One day at work, you called the elevator, and as soon as you walked in, you slipped and hurt your shoulder. 
        In retrospect, you found out the elevator floor was 30cm lower than it should have been, which caused you to fall. </p>
    <p>The fall caused excruciating pain. You broke your right shoulder and were hospitalized for two days. 
        Due to this injury, you couldn't return to work for 24 days and had to undergo physiotherapy to try and restore your hand movement (to this day, your right arm's movement is limited).</p> 
    <p>Once returning to work, you spoke to your manager regarding the fall, and he replied that the elevator issue will be dealt with. 
        You were informed that warning signs were put near the elevator, and the technicians would be called in. 
        The manager told you that you should have noticed the height difference, which hurt your feelings, considering that you've been working for him for years and never even received an apology.</p>
    <p>This baffled you, especially since you were told that several colleagues also stumbled while entering the same elevator.</p>
</div>

<div *ngIf="story==8" class="story">
    <div class="story-h">
        <h2>The nursery</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>Your first daughter was born a year ago. Since you and your spouse are both working parents, you've decided to send your daughter to the local nursery school. 
        You were a bit hesitant since there's only one kindergarten teacher who oversees over ten toddlers, but the fact that they had additional assistants to support the teacher eased your concern. 
        The teacher assuaged your concerns when she said: "you have nothing to worry about. Every toddler gets special attention at our nursery school".</p>
    <p>One day, you met one of the teacher's assistants at the local grocery store. 
        The assistant claimed the teacher doesn't look after the children properly since she yells at the toddlers and doesn't change their diapers when needed.
        You felt hurt by the news since the teacher promised to pay special attention to every toddler at her nursery school, and your daughter's health and safety are at stake.</p>
    <p>Consequently, you quickly assembled a parent's meeting and told the rest of the parents about your conversation with the assistant. 
        One of the parents remarked that you must consider that the teacher and the assistant were never on good terms, and therefore we must think carefully about whether to believe the assistant. 
        Several parents expressed their concern about this occurrence and said they were not satisfied with the teacher's conduct.</p>
    <p>Considering the many problems raised, you've decided to withdraw your daughter from the nursery school to ensure her health and safety. 
        You have also demanded the teacher refund the full tuition costs. The teacher denied all the claims above and held that no payment should be made to parents withdrawing their kids from the nursery school.</p>
    <p>You believe that you ought to get back the money paid in advance for your daughter's tuition since she is not attending the nursery school anymore. 
        In addition to an acknowledgment of your concern, worry, anger, and breach of trust following the ordeal.</p>
</div>

<div *ngIf="story==9" class="story">
    <div class="story-h">
        <h2>Broken chargers</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>For the past five years, your company has been doing business with an electronics firm. As part of the business relationship between the two companies, 
        30,000 cell phone chargers were purchased from your company. The order was divided into three shipments, 10,000 chargers per shipment. 
        The purchasing firm arranged the first two shipments but did not pay for the third shipment as promised nor did it pay for the last shipment of 10,000 chargers.</p>
    <p>According to the owners of the purchasing firm, the reason for this is that the chargers in the third shipment were broken. 
        According to you, the company's owners are lying and trying to evade payment and should have paid for the third shipment as required. </p>
    <p>Considering the business relationship, you have had for five years, you feel frustration, anger, and disappointment with how the company operates.</p>
</div>

<div *ngIf="story==10" class="story">
    <div class="story-h">
        <h2>Airport security</h2>
        <button *ngIf="readingState == 'notStarted'" mat-stroked-button color="primary" class="next-button" (click)="readText();"><i class="bi bi-mic-fill"></i> read</button>
        <button *ngIf="readingState == 'Reading'" mat-stroked-button color="primary" class="next-button" (click)="pauseReadText();"><i class="bi bi-mic-fill"></i> pause</button>
        <button *ngIf="readingState == 'Paused'" mat-stroked-button color="primary" class="next-button" (click)="resumeReadText();"><i class="bi bi-mic-fill"></i> resume</button>
    </div>
    <p>Recently, you had to fly for an important conference. When you arrived at the airport, security personnel detained you at the airport's entrance, apparently after identifying you as belonging to a minority group.
     They took your cell phone and rummaged through your personal belongings. They tried to put your laptop in a security machine, and when you asked if the machine might cause harm to it, they responded rudely. 
     After 40 minutes of security checks, they allow you to continue. </p> 
    <p>When you entered the terminal, security personnel approached you once again. 
     They passed your belongings through the x-ray machine and begin emptying everything out of your bag (including underwear, documents, and study materials). 
     When you asked them to do so orderly, they responded rudely, mocked your native language in which some of the documents were written, asked private and offensive questions, 
     treated your family photos disrespectfully, and even mocked the color of your skin. They took your laptop for further examination, and when they returned, they said you couldn't take it with you on the flight.</p>
    <p>Their attitude was dismissive and humiliating. You asked to speak to their supervisor and tried to explain the necessity of the laptop for your work and meetings but were told that he wasn't available for you.</p>
    <p>During this time, you were without your cell phone, and you couldn't contact anyone for assistance. After three difficult hours, you decided that after such an experience and without the essential laptop, 
     you could not take part in the conference. You shared the ordeal with your acquaintances, and they turned to the authorities for explanations. 
     Many weeks later, a reply came from the authorities' attorney general office, claiming they had behaved professionally and respectfully and refused to acknowledge any flaws.</p>
    <p>This added to the feeling of contempt and humiliation you experienced. You were harmed by not being able to attend the conference, 
     but mainly because of the difficult experience you feel was forced upon you solely because you belong to a minority.</p>
</div>
