.container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--md-background-intro);
    row-gap: 50px;
    min-height: 100%;
}

/* Intro Screen */

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    width: 100%;
    max-width: 519px;
    & h1 {
        color: var(--primary-purple);
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
}

.green {
    color: var(--dark-green);
}

.red {
    color: var(--dark-red);
}

.description {
    width: 100%;
    max-width: 665px;
    & p {
        font-size: 1.5rem;
        text-align: center;
    }
}

.styles {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 75px 0px;
}

.avatar-container {
    display: grid;
    grid-template-columns: 75px 200px;
    grid-template-areas: 
        "avatar title"
        "avatar progress";
    column-gap: 10px;
    margin-bottom: 10px;
}

.avatar-flex {
    display: flex;
} 

.flx-center {
    justify-content: center;
}

.flx-end {
    justify-content: flex-end;
}

.flx-start {
    justify-content: flex-start;
}


/* Terms Screen */

.terms {
    background-color: var(--md-foreground);
    width: 100%;
    max-width: 1040px;
    border-radius: 20px;
    padding: 50px;
}

.term {
    display: grid;
    grid-template-columns: 75px auto;
    grid-template-areas:
        "icon term";
    padding: 10px;
}

.term p {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.term h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}

.icon * {
    width: 28px;
    height: 28px;
}

mat-icon {
    height: 75px;
    width: 75px;
}


.title {
    color: var(--secondary-light);
    font-weight: 600;
}

.progress {
    width: 100%;
}


.term-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* General */

.mtop {
    margin-top: 40px;
}

.center {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 700px) { 
    .container {
        padding: 25px 10px;
        row-gap: 25px;
    }

    .main-title h1 {
        font-size: 2rem;
    }

    .description p {
        font-size: 1rem;
        font-weight: 600;
    }

    .styles {
        width: 100%;
        margin: 50px 0px 75px;
    }

    .terms {
        border-radius: 30px;
        padding: 25px 0px;
    }

    .term {
        grid-template-columns: 35px auto;
    }
}