<div class="container">
    <div class="flx-center">
        <img src="assets/logo.png"> 
    </div>
    <div class="intro" *ngIf="step==1">
        <div class="main-title">
            <h1>How do you deal with conflicts?</h1>
        </div>
        <div class="description">
            <p>What is the best way to deal with your conflicts?</p>
            <p>Learn about your conflict resolution style and preferences</p>
            <br>
            <p *ngIf="isPaid"><b>25 min | <span class="green">3£</span></b> (9£ per hour)</p>
            <p *ngIf="!isPaid"><span class="red"><b>ATTENTION:</b> IF YOU'RE SEEING THIS MESSAGE IT MEANS YOU HAVE ENTERED AN <b>UNPAID</b> VERSION OF THIS SURVEY. IF THIS IS UNEXPECTED, PLEASE CLOSE YOUR BROWSER AND RE-CONNECT!!</span></p>
        </div>
        <div class="styles">
            <div class="avatar-flex flx-center">
                <div class="avatar-container">
                    <div class="avatar" style="grid-area: avatar;"><mat-icon svgIcon="competitor"></mat-icon></div>
                    <div class="title" style="grid-area: title;">Competitor</div>
                    <div class="progress" style="grid-area: progress;">
                        75%
                        <mat-progress-bar color="primary" value="75" style="width: 200px;"></mat-progress-bar>
                    </div>
                </div>
            </div>
    
            <div class="avatar-flex flx-start">
                <div class="avatar-container">
                    <div class="avatar" style="grid-area: avatar;"><mat-icon svgIcon="avoider"></mat-icon></div>
                    <div class="title" style="grid-area: title;">Avoider</div>
                    <div class="progress" style="grid-area: progress;">
                        50%
                        <mat-progress-bar color="primary" value="50" style="width: 200px;"></mat-progress-bar>
                    </div>
                </div>
            </div>
    
            <div class="avatar-flex flx-end">
                <div class="avatar-container">
                    <div class="avatar" style="grid-area: avatar;"><mat-icon svgIcon="problem-solver"></mat-icon></div>
                    <div class="title" style="grid-area: title;">Problem solver</div>
                    <div class="progress" style="grid-area: progress;">
                        25%
                        <mat-progress-bar color="primary" value="25" style="width: 200px;"></mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" class="general-button" (click)="nextClick();"><i class="bi bi-arrow-right"></i> Start</button>
    </div>
    <div class="terms" *ngIf="step==2">
        <div class="term-heading">
            <span><button color="primary" class="bold" mat-button (click)="backClick();">< Back</button></span>
            <span style="font-size: 22px; font-weight: 600;">Terms of use</span>
            <span style="width: 70px;"></span>
        </div>
        <div class="term">
            <div class="icon" style="grid-area: icon;"><mat-icon svgIcon="aim"></mat-icon></div>
            <div style="grid-area: term;">
                <h2>What is the purpose of this research?</h2>
                <p>
                    The purpose of this research is to study <span style="text-decoration-style: dotted; 
                                                                          text-decoration-line: underline;" 
                                                                   title="a person involved in a lawsuit.">litigants'</span> 
                    needs, interests and emotions when facing a legal conflict. <br>
                    Participation is voluntary. It is your choice whether or not to participate in this research. 
                    If you choose to participate, you may change your mind and leave the study at any time.
                    <span *ngIf="isPaid" style="font-weight: 600;">
                        <br>
                        <br>NOTE: We have implemented measures to ensure truthful and thoughtful participation... failing to adhere to these measures would result in immediate disqualification.
                        <br>A reward token will be granted only upon <span style="text-decoration-line: underline;">successful completion</span> of the survey.
                    </span>
            </div>
        </div>
        <div class="term">
            <div class="icon" style="grid-area: icon;"><mat-icon svgIcon="fire"></mat-icon></div>
            <div style="grid-area: term;">
                <h2>What are the risks and possible discomforts?</h2>
                <p>
                    If you choose to participate, there are no known risks associated with your participation in this research beyond those of everyday life.
                </p>
            </div>
        </div>
        <div class="term">
            <div class="icon" style="grid-area: icon;"><mat-icon svgIcon="lock"></mat-icon></div>
            <div style="grid-area: term;">
                <h2>If I take part in this research, how will my privacy be protected?</h2>
                <p>
                    The data we collect will be saved on a secured server. Diligent care will be taken to protect sensitive information. 
                    The information will be used solely for the purposes of this research.
                    No identifiable information will be saved.</p>
            </div>
        </div>
        <div class="term">
            <div class="icon" style="grid-area: icon;"><mat-icon svgIcon="letter"></mat-icon></div>
            <div style="grid-area: term;">
                <h2>If I have any questions, concerns or complaints about this research study, who can I talk to?</h2>
                <p>
                    The leading researcher for this study is <span style="font-weight: 600;">Dr. Avshalom Elmalech</span> who can be reached at <a href="mailto:yigal.nirenberg@live.biu.ac.il">yigal.nirenberg@live.biu.ac.il</a>. <br>
                    If you have questions, concerns, or complaints, if you would like to talk to the research team, if you think the research has harmed you, or if you wish to withdraw from the study.</p>
            </div>
        </div>
        <div class="term">
            <div class="icon" style="grid-area: icon;"><mat-icon svgIcon="info"></mat-icon></div>
            <div style="grid-area: term;">
                <h2>Statement</h2>
                <p>
                    This research has been reviewed by the Committee on the Use of Human Subjects in Research at Bar-Ilan University, Israel. You may print this copy of the Consent Document for your records. <br><br>
                    I have read and understood the information in this terms of use.<br>
                    All my questions about the research have been answered to my satisfaction. <br>
                    I am at least eighteen (18) years old. <br>
                </p>
            </div>
        </div>
        <div class="mtop">
            <mat-checkbox [(ngModel)]="this.termsAgreed">I've read and accept the terms of use of this survey.</mat-checkbox>
        </div>
        <div class="center mtop">
            <button mat-raised-button color="primary" class="general-button" [disabled]="!this.termsAgreed" (click)="startSurvey();"><i class="bi bi-arrow-right"></i> Start</button>
        </div>
    </div>
</div>
