<!-- Basic Info -->
<div *ngIf="!isComplete">
    <div class="info">
        <span *ngIf="step != stepDict['COMPLETE_1']"><button color="primary" class="bold" mat-button (click)="backClick();">< Back</button></span>
        <span *ngIf="step < stepDict['STORIES1_1']"><div class="circle bold">{{steps[step]['stepNumber']}}</div> / <b>{{steps[step]['phaseSteps']}}</b></span>
        <span *ngIf="step >= stepDict['STORIES1_1'] && read"><span class="stories-header-pr">Read</span> > <span class="stories-header-sec">Answer</span></span>
        <span *ngIf="step >= stepDict['STORIES1_1'] && !read"><span class="stories-header-sec">Read</span> > <span class="stories-header-pr">Answer</span></span>
        <span *ngIf="steps[step]['showNext']"><button class="bold" color="primary" mat-button (click)="nextClick();">Next ></button></span>
        <span *ngIf="!steps[step]['showNext']" style="width: 70px;"></span>
    </div>

    <!-- Basic Info -->
    
    <div *ngIf="step >= stepDict['BASIC_1'] && step <= stepDict['BASIC_20']" >
        <app-basic (nextClick)="nextClick();"
                    [step]="step" 
                    [steps]="steps" 
                    [stepDict]="stepDict"
                    [p]="p">
        </app-basic>
    </div>

    <div *ngIf="step == stepDict['CONGRATS_1'] && steps[step]['isVisible']" class="item center">
        <div class="icon-lg"><img src="assets/confetti.gif"></div>
        <h3 style="font-size: 32px; font-weight: 400;">Congratulations</h3>
        <h3 style="font-size: 16px; font-weight: 500; margin-bottom: 40px;">You succesfully completed section 1/3</h3>
        <button mat-raised-button color="primary" class="next-button" (click)="nextClick();"><i class="bi bi-arrow-right"></i> Next section</button>
    </div>

    <!-- Styles -->

    <div *ngIf="step >= stepDict['BF_1'] && step <= stepDict['TK_10']" >
        <app-styles (nextClick)="nextClick();"
                    [step]="step" 
                    [steps]="steps" 
                    [stepDict]="stepDict"
                    [p]="p">
        </app-styles>
    </div>

    <div *ngIf="step == stepDict['CONGRATS_2'] && steps[step]['isVisible']" class="item center">
        <div class="icon-lg"><img src="assets/confetti.gif"></div>
        <h3 style="font-size: 32px; font-weight: 400;">Congratulations</h3>
        <h3 style="font-size: 16px; font-weight: 500; margin-bottom: 40px;">You succesfully completed section 2/3</h3>
        <button mat-raised-button color="primary" class="next-button" (click)="nextClick();"><i class="bi bi-arrow-right"></i> Next section</button>
    </div>

    <!-- Intro Stories -->

    <div *ngIf="step >= stepDict['INTRO_1'] && step <= stepDict['INTRO_7']" >
        <app-storiesintro   (nextClick)="nextClick();"
                            [step]="step" 
                            [steps]="steps" 
                            [stepDict]="stepDict"
                            [p]="p">
        </app-storiesintro>
    </div>

    <!-- Stories -->

    <div *ngIf="step >= stepDict['STORIES1_1'] && step <= stepDict['STORIES3_23']" >
        <app-stories (nextClick)="nextClick();"
                    [step]="step" 
                    [steps]="steps" 
                    [stepDict]="stepDict"
                    [p]="p">
        </app-stories>
    </div>

    <div *ngIf="step == stepDict['CONGRATS_3'] && steps[step]['isVisible']" class="item center">
        <div class="icon-lg"><img src="assets/confetti.gif"></div>
        <h3 style="font-size: 32px; font-weight: 400;">Congratulations</h3>
        <h3 style="font-size: 16px; font-weight: 500; margin-bottom: 40px;">You succesfully completed section 3/3</h3>
        <button mat-raised-button color="primary" class="next-button" (click)="submit();"><i class="bi bi-arrow-right"></i> Submit & Go to results</button>
    </div>
</div>
<div *ngIf="isComplete">
    <div *ngIf="step != stepDict['COMPLETE_1']" class="info">
        <button color="primary" class="bold" mat-button (click)="backClick();">< Back</button>
    </div>
    <div *ngIf="step == stepDict['COMPLETE_1'] && steps[step]['isVisible']" class="item">
        <h2>Your personality and negotiation style results:</h2>
        <div class="style_results">
            <div style="grid-area: big_five;" class="styles">
                <h2>Your personality characteristic:</h2>
                <p>{{feedback.getPersonality()}}</p>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Openness")}}%</span><span class="style">Openness</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Openness")'></mat-progress-bar>
                </div>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Agreeableness")}}%</span><span class="style">Agreeableness</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Agreeableness")'></mat-progress-bar>
                </div>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Extraversion")}}%</span><span class="style">Extraversion</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Extraversion")'></mat-progress-bar>
                </div>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Conscientiousness")}}%</span><span class="style">Conscientiousness</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Conscientiousness")'></mat-progress-bar>
                </div>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Neuroticism")}}%</span><span class="style">Neuroticism</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Neuroticism")'></mat-progress-bar>
                </div>
            </div>
            <div style="grid-area: tk;" class="styles">
                <h2>Your negotiation style:</h2>
                <p>{{feedback.getNegotiationStyle()}}</p>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Accommodating")}}%</span><span class="style">Accommodating</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Accommodating")'></mat-progress-bar>
                </div>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Competing")}}%</span><span class="style">Competing</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Competing")'></mat-progress-bar>
                </div>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Avoiding")}}%</span><span class="style">Avoiding</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Avoiding")'></mat-progress-bar>
                </div>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Compromising")}}%</span><span class="style">Compromising</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Compromising")'></mat-progress-bar>
                </div>
                <div class="style_item">
                    <div class="style_header"><span>{{feedback.getPercent("Collaborating")}}%</span><span class="style">Collaborating</span></div>
                    <mat-progress-bar color="primary" [value]='feedback.getPercent("Collaborating")'></mat-progress-bar>
                </div>
            </div>  
        </div>
        <button *ngIf="isPaid" mat-raised-button color="primary" class="next-button" (click)="nextClick();"><i class="bi bi-arrow-right"></i> Get Prolific Token</button>
    </div>
    <div *ngIf="step == stepDict['COMPLETE_2'] && steps[step]['isVisible']" class="item center">
        <div class="icon-lg"><img src="assets/confetti.gif"></div>
        <div class="token">
            <h2>Your prolific token:</h2>
            <h3>{{feedback.Token}}</h3>
        </div>
        <button mat-raised-button color="primary" class="next-button" (click)="nextClick();"><i class="bi bi-arrow-right"></i> Take me back to prolific</button>
    </div>
</div>
