<h2 mat-dialog-title>What is {{data.dialog}}?</h2>
<mat-dialog-content class="mat-typography">
<p *ngIf="data.dialog == 'Adjudication'">Adjudication is ....</p>
<p *ngIf="data.dialog == 'Arbitration'">Arbitration is ....</p>
<p *ngIf="data.dialog == 'Mediation'">Mediation is ....</p>
<p *ngIf="data.dialog == 'Negotiation'">Negotiation is ....</p>
<p *ngIf="data.dialog == 'Let go'">Let go is ....</p>
<p *ngIf="data.dialog == 'Public Complaint'">Public Complaint is ....</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>