<div class="container">
    <app-progress
        [isComplete]="isComplete" 
        [step]="step" 
        [steps]="steps">
    </app-progress>
    <app-main 
        [isComplete]="isComplete"
        [step]="step" 
        [steps]="steps" 
        [stepDict]="stepDict" 
        (stepUpdateEvent)="updateStep($event)"
        (stepsUpdateEvent)="updateSteps($event)">
        <div S1>Story 1</div>
        <div S2>Story 2</div>
        <div S3>Story 3</div>
        <div S4>Story 4</div>
        <div S5>Story 5</div>
        <div S6>Story 6</div>
        <div S7>Story 7</div>
        <div S8>Story 8</div>
        <div S9>Story 9</div>
        <div S10>Story 10</div>
        <div S11>Story 11</div>
        <div S12>Story 12</div>
        <div S13>Story 13</div>
        <div S14>Story 14</div>
        <div S15>Story 15</div>
        <div S16>Story 16</div>
        <div S17>Story 17</div>
        <div S18>Story 18</div>
        <div S19>Story 19</div>
        <div S20>Story 20</div>
        <div S21>Story 21</div>
        <div S22>Story 22</div>
        <div S23>Story 23</div>
        <div S24>Story 24</div>
        <div S25>Story 25</div>
        <div S26>Story 26</div>
        <div S27>Story 27</div>
        <div S28>Story 28</div>
        <div S29>Story 29</div>
        <div S30>Story 30</div>
        <div S31>Story 31</div>
        <div S32>Story 32</div>
        <div S33>Story 33</div>
        <div S34>Story 34</div>
        <div S35>Story 35</div>
        <div S36>Story 36</div>
        <div S37>Story 37</div>
        <div S38>Story 38</div>
        <div S39>Story 39</div>
        <div S40>Story 40</div>
        <div S41>Story 41</div>
        <div S42>Story 42</div>
        <div S43>Story 43</div>
        <div S44>Story 44</div>
        <div S45>Story 45</div>
        <div S46>Story 46</div>
        <div S47>Story 47</div>
        <div S48>Story 48</div>
        <div S49>Story 49</div>
        <div S50>Story 50</div>
    </app-main>    
</div>
