<div class="container">
    <div class="progress">
        <app-progress
            [isComplete]="isComplete" 
            [step]="step" 
            [steps]="steps">
        </app-progress>
    </div>
    <div class="main">
        <div class="main-inner">
            <app-main 
                [isComplete]="isComplete"
                [step]="step" 
                [steps]="steps" 
                [stepDict]="stepDict" 
                (stepUpdateEvent)="updateStep($event)"
                (stepsUpdateEvent)="updateSteps($event)"
                (isCompleteUpdateEvent)="updateIsComplete($event)">
            </app-main>  
        </div>
    </div>
</div>
