.container {
    background-color: var(--md-background);
    display: flex;
    height: 100%;
}

.progress {
    width: 20%;
    min-width: 210px;
    min-height: 560px;
    padding: 50px 0px 0px 50px;
}

.main {
    padding: 50px;
    width: 80%;
}

.main-inner {
    min-width: 1325px;
    min-height: 900px;
    border-radius: 20px;
    background-color: var(--md-foreground);
    padding: 50px;
}

@media screen and (max-width: 1780px) {
    .main-inner {
        min-width: unset;
        padding: 20px 5px;
        border-radius: 30px;
    }
    .progress {
        width: 100%;
        padding: unset;
        min-width: unset;
        min-height: unset;
    }
    .main {
        width: 100%;
        height: 100%;
        padding: unset;
        
    }
    .container {
        flex-direction: column;
        padding: 10px;
    }
  }

  @media screen and (max-width: 700px) { 
    .main-inner {
        min-width: unset;
        min-height: 750px;
        padding: 20px 10px;
        border-radius: 30px;
    & .item {
        padding: 0px !important;
      }
    }
  }